DATABASE_URL=
AUTH_SECRET=

# Provider do github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# URL da aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stripe Gateway
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

STRIPE_SECRET_WEBHOOK_KEY=

STRIPE_PLAN_BASIC=
STRIPE_PLAN_PROFESSIONAL=

# Redirecionamento após conclusão do checkout do plano (COM SUCESSO E CANCELANDO NO CARRINHO)
STRIPE_SUCCESS_URL=http://localhost:3000/dashboard/planos
STRIPE_CANCEL_URL=http://localhost:3000/dashboard/planos